body
{
	overflow: hidden;
	margin: 0;
}

.phaseDiv { display: none; }
#actionPicker { width: 200px; }
#actionPicker-button { font-size: 0.9em; }
#gamePicker { width: 200px; }

#gamePicker-button
{
	font-size: 0.9em;
	margin-top: 10px;
	display: none;
}

#geographyPicker { width: 200px; }

#geographyPicker-button
{
	font-size: 0.9em;
	margin-top: 10px;
}

#lobbyText { margin: 0 0 5px 23px; }
#colorPicker { width: 200px; }
#colorPicker-button { font-size: 0.9em; }

#newGameButton
{
	margin-top: 15px;
	width: 200px;
	font-size: .8em;
}

#mainMenu select { display: block; }

#players
{
	height: 100%;
	width: 40%;
	padding-top:2px;
}

#players > .ui-button-disabled {
	opacity:1 !important;
}

#controls
{
	height:100%;
	width:60%;
	position:relative;
	top:-100%;
	left:40%;
}

#turnControls
{
	height:100%;
	width:70%;
}

#pickup,#deliver
{
	display:none;
}

#endControls
{
	height:100%;
	width:30%;
	position:relative;
	top:-100%;
	left:70%;
}

#topBar
{
	overflow: hidden;
	width:100%;
	height:10%;
}

#map
{
	height: 90%;
	width: 70%;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-radius: 2px;
}

#map > svg
{
	height: 100%;
	width: 100%;
}

#handAndTrains
{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 90%;
	width: 30%;
}

#hand
{
	margin-left: 4px;
	margin-right: 4px;
	display: inline-block;
}

.card
{
	display: inline-block;
	border: 2px solid black;
	border-radius: 3px;
	width: 220px;
	margin-right: 5px;
	margin-top:2px;
}

.trip { margin: 2px; }
.trip > p { margin: 0px; }
div.trip > p:not(:last-child) { border-bottom: 1px solid black; }

#trains
{
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
}

.train
{
	display: inline-block;
	border: 2px solid black;
	width: 100px;
	padding: 2px;
	border-radius: 3px;
	margin-right: 5px;
	margin-top:2px;
}

div.train > p:first-child
{
	color: blue;
	font-size: 1.8em;
	text-align: center;
}

div.train > p { margin: 5px 0; }
div.train > p:not(:last-child) { border-bottom: 1px solid black; }

#money
{
	display: inline-block;
	vertical-align: top;
	width: 70px;
	font-size: 1.8em;
	margin-right: 5px;
	margin-top:2px;
}

#up
{
	background: url(images/iconUp.png) no-repeat center top;
	display: block;
	height: 26px;
	width: 29px;
}

#down
{
	background: url(images/iconDown.png) no-repeat center top;
	display: block;
	height: 27px;
	width: 29px;
}

#mapControls
{
	position: absolute;
	left: 15px;
	top: calc(10% + 15px);
	width: 29px;
}
