.no-close .ui-dialog-titlebar-close {
    display: none;
}

#upgradeDialog > ul {
    list-style-type: none;
    padding: 0;
}

    #upgradeDialog > ul > li:hover {
        background-color: #fff;
        border: 1px dashed #aaa;
        border-radius: 1px;
    }

    #upgradeDialog > ul > li.clicked {
        background-color: #fff;
        border: 1px solid #888 !important;
        border-radius: 1px;
    }

#pickupDialog > ul {
    list-style-type: none;
    padding: 0;
}

    #pickupDialog > ul > li:hover {
        background-color: #fff;
        border: 1px dashed #aaa;
        border-radius: 1px;
    }

    #pickupDialog > ul > li.clicked {
        background-color: #fff;
        border: 1px solid #888 !important;
        border-radius: 1px;
    }

    #pickupDialog > ul > li.important {
        border-color: red !important;
        color: red !important;
    }

#dumpDialog > ul {
    list-style-type: none;
    padding: 0;
}

    #dumpDialog > ul > li:hover {
        background-color: #fff;
        border: 1px dashed #aaa;
        border-radius: 1px;
    }

    #dumpDialog > ul > li.clicked {
        background-color: #fff;
        border: 1px solid #888 !important;
        border-radius: 1px;
    }

#deliverDialog > ul {
    list-style-type: none;
    padding: 0;
}

    #deliverDialog > ul > li:hover {
        background-color: #fff;
        border: 1px dashed #aaa;
        border-radius: 1px;
    }

    #deliverDialog > ul > li.clicked {
        background-color: #fff;
        border: 1px solid #888 !important;
        border-radius: 1px;
    }

#loadsDialog { /*JQuery UI dialog for displaying loads*/
    width: auto;
    height: auto;
}

    #loadsDialog table { /*Table that contains the Loads to City key */
        border: 1px solid #DFDFDF;
        background-color: #F9F9F9;
        width: 100%;
        border-radius: 3px;
        font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
        color: #333;
        margin-bottom: 30px;
    }

        #loadsDialog table td, #helpDialog table th { /*Each cell in loadsDialogs table*/
            border-top-color: white;
            border: 1px solid rgba(223,223,223,0.75);
            border-bottom: 1px solid #DFDFDF;
            color: #555;
        }

        #loadsDialog table td { /*Each normal cell in loadsDialogs table*/
            font-size: 12px;
            padding: 4px 7px 2px;
            vertical-align: top;
            border: 1px solid #DFDFDF;
        }
