#info {
    position: absolute;
    bottom: -31px;
    left: 0;
    right: 0;
    min-height: 30px;
    background-color: #eee;
    border-top: 1px solid #555;
    text-align: center;
}

    #info > p {
        font-size:30px;
        margin: 0 0 3px 0;

    }
