#mainMenu > h4 {
    width: 200px;
    text-align: center;
    margin: 10px 0 3px 0;
}

#mainMenu > h2 {
    width:200px;
    text-align:center;
    margin:10px 0 10px 0;
}

.phaseDiv {
    display: none;
}

#actionPicker {
    width: 200px;
}

#actionPicker-button {
    font-size: 0.9em;
}

#gamePicker {
    width: 200px;
}

#gamePicker-button {
    font-size: 0.9em;
    margin-top: 10px;
    display: none;
}

#geographyPicker {
    width: 200px;
}

#geographyPicker-button {
    font-size: 0.9em;
    margin-top: 10px;
}

#colorPicker {
    width: 200px;
}

#colorPicker-button {
    font-size: 0.9em;
}

#newGameButton {
    margin-top: 15px;
    width: 200px;
    font-size: .8em;
}

#mainMenu {
    padding-left: 10px;
}

    #mainMenu select {
        display: block;
    }
