#handAndTrains {
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(90% - 5px);
    width: 30%;
    overflow: scroll;
}

#hand {
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
}

.card {
    display: inline-block;
    border: 2px solid black;
    border-radius: 3px;
    width: 220px;
    margin-right: 5px;
    margin-top: 2px;
}

.trip {
    margin: 2px;
}

    .trip > p {
        margin: 0px;
    }

div.trip > p:not(:last-child) {
    border-bottom: 1px solid black;
}

#trains {
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
}

.trainCard {
    display: inline-block;
    border: 2px solid black;
    width: 100px;
    padding: 2px;
    border-radius: 3px;
    margin-right: 5px;
    margin-top: 2px;
}

div.trainCard > p:first-child {
    color: blue;
    font-size: 1.8em;
    text-align: center;
}

div.trainCard > p {
    margin: 5px 0;
    min-height: 30px;
}

	div.trainCard > p > span {
    	vertical-align: middle;
    	alignment-baseline: middle;
	}
	
	div.trainCard > p > img {
		float: right;
	}
	
    div.trainCard > p:not(:last-child) {
        border-bottom: 1px solid black;
    }

div.train > div > p {
	text-align:center;
    font-size: 1.8em;
    line-height: 1em;
    margin-top:0;
}

#money {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    height: 160px;
    font-size: 1.8em;
    margin-right: 5px;
    margin-top: 2px;
}

#moneyTotal {
    height: 50%;
    width: 100%;
}

#moneyTotalIcon {
    height: 100%;
    width: 100%;
}

#moneySpent {
    height: 50%;
    width: 100%;
}

#moneySpentIcon {
    height: 100%;
    width: 100%;
}

#moneyTotalNumber {
    position: relative;
    top: -70%;
    color: blue;
    text-align: center;
}

#moneySpentNumber {
    position: relative;
    top: -70%;
    color: blue;
    text-align: center;
}
